/* colors and font*/
body {
background-color: rgb(127, 85, 57);
color: rgb(176, 137, 104);
font-family: sans-serif;
font-size: 18px;
}

h1 {
color: rgb(127, 85, 57);
font-family: sans-serif;
font-size: 40px;
}

h2 {
color: rgb(127, 85, 57);
font-family: sans-serif;  
font-weight: 900;
font-size: 21px;
}

a {
text-decoration: none;
color: rgb(176, 137, 104);
}

a:hover'{
    color: white;
}



#logo{
    width: 100px;
    border-radius: 65%;
}

img-circle{/*"logo"*/
border-radius: 60%;
}

/*Custom design with class*/

.container {
                width: 700px;
    margin: 40px auto;
    text-align: justify;

}

.card-white{
                background-color: white;
                padding: 40px;
                box-shadow: px 10px 30px rgba(127, 85, 57, 1);
                border-radius: 4px;
                margin: 20px 0px;
                text-align: center;

}

.img-circle {
                border-radius: 50%;
}

.list-inline {
                list-style: none;
                padding-left: 0px;
                text-align: left;
}

.list-inline li{
    display: inline;
    padding: 10px;
}


.list-inline i{
font-size: 50px;
color: #6B72E1;
}

#intro p {
                margin-bottom: 40px;

}

